*.class
*.log

# SBT SPECIFIC
.cache
.history
.lib/

.scala_dependencies

.worksheet
.worksheet/*
.worksheets/
.worksheets/*

.idea
.idea/
.idea/*

*.iml
.iml


## VI
.swp
*.swp
.swo
*.swo

dist/*

lib_managed/

project/boot/
project/boot/*

project/project
project/project/*

project/plugins/project/
project/plugins/project/*

project/target/
project/target/*

logs
logs/*

#notes
#notes/*

src_managed/

target/

#worksheets
#worksheets/*

*.ensime
*.ensime/*
*.ensime_cache
*.ensime_cache/*

0_NO_COMMIT/*
0_no_commit/*

no_commit/*
NO_COMMIT/*
*.NO_COMMIT.txt
*.no_commit.txt
/bin/

tmp/
tmp/*
